<!DOCTYPE html>
<html>
<head>
	<title>Sentiment Analysis</title>
</head>
<body>
	<h1>Sentiment Analysis</h1>
	<form method="post" action="{{ url_for('predict') }}" enctype="multipart/form-data">
		<label for="input-text"></label>
		<input type="text" id="input-text" name="input-text">
		<br><br>
		<input type="submit" value="Submit">
	</form>	
	<div id="result"></div>
	<script>
		var message = "{{ message }}";
		if (message) {
			document.getElementById("result").innerHTML = message;
		}
	</script>
</body>
</html>
